* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color:#E5E5E5;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
}

@font-face {
    font-family: 'Avenir Next Regular';
    src: local('Avenir Next Regular'), local('Avenir-Next-Regular'),
        url('./../fonts/AvenirNextCyr-Regular.woff2') format('woff2'),
        url('./../fonts/AvenirNextCyr-Regular.woff') format('woff'),
        url('./../fonts/AvenirNextCyr-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

@font-face {
    font-family: 'Avenir Next Medium';
    src: local('Avenir Next Medium'), local('Avenir-Next-Medium'),
        url('./../fonts/AvenirNextCyr-Medium.woff2') format('woff2'),
        url('./../fonts/AvenirNextCyr-Medium.woff') format('woff'),
        url('./../fonts/AvenirNextCyr-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}  

@font-face {
    font-family: 'Avenir Next Demi';
    src: local('Avenir Next Demi'), local('Avenir-Next-Demi'),
        url('./../fonts/AvenirNextCyr-Demi.woff2') format('woff2'),
        url('./../fonts/AvenirNextCyr-Demi.woff') format('woff'),
        url('./../fonts/AvenirNextCyr-Demi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Bold';
    src: local('Avenir Next Bold'), local('Avenir-Next-Bold'),
        url('./../fonts/AvenirNextCyr-Bold.woff2') format('woff2'),
        url('./../fonts/AvenirNextCyr-Bold.woff') format('woff'),
        url('./../fonts/AvenirNextCyr-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

li {list-style-type: none;}

a {
    cursor: pointer;
    text-decoration: none;
}

h1, h2, h3, p, span {
    font-family: 'Avenir Next Medium';
    color: #374072;
}

p {
    font-size: 25px;
}

h1 {
    font-family: 'Avenir Next Bold';
    font-size: 70px;
    line-height: 100%;
}

h2 {
    font-family: 'Avenir Next Bold';
    font-size: 40px;
    line-height: 130%;
}

h3 {
    font-family: 'Avenir Next Bold';
    font-size: 32px;
    line-height: 130%;
}

h4 {
    font-family: 'Avenir Next Demi';
    font-size: 29px;
    line-height: 130%;
    color: white
}

section {
    width: 1290px;
    position: relative;
    margin: 0 auto;
    z-index: 3;
}

.white-slide {
    background-color: white;
    width: 100%;
}


header {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 15;
}

.header-in {
    height: 170px;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    margin: 0 auto;
}

.header-number {
    display: -webkit-box;
    display: flex;
    align-items: center;
    margin-right: 60px;

    a {
        font-family: 'Avenir Next Demi';
        font-size: 18px;
        line-height: 100%;
        color: #374072;
        opacity: 0.9;
        position: relative;
    }

    a::before {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        height: 2px;
        width: 0%;background-color: #E72F50;
        border-radius: 4px;
        transition: .3s;
    }

    a:hover {
        opacity: 1;
    }

    a:hover::before {
        width: 70%;
    }
}

.header-number img {
    cursor: pointer;
    transition: .3s;
    margin-top: 7px;
}

.header-number:hover img {
    transform: rotate(25deg);
}

nav {
    margin-right: 80px;
}

nav ul {
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
    width: 516px;

    li a {
        font-family: 'Avenir Next Demi';
        font-size: 16px;
        line-height: 100%;
        color: #374072;
        position: relative;
        transition: .3s;
        opacity: .9;
    }

    li a::before {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        height: 2px;
        width: 0%;
        background-color: #E72F50;
        border-radius: 4px;
        transition: .3s;
    }

    li a:hover {
        opacity: 1;
    }

    li a:hover::before {
        width: 70%;
    }
}

.header-right {
    display: -webkit-box;
    display: flex;
    height: 100%;
    align-items: center;
}

.btn {
    display: block;
    font-family: 'Avenir Next Demi';
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
    background-color: #374072;
    border-radius: 60px;
    padding: 1.1em 3.8em;
    transition: .3s;
    border: none;
    outline: none;
}

.btn:hover {
    background-color: #E72F50;
}

.first-slide {
    z-index: 1;
    height: 128vh;
    position: relative;
    top: 0;
    overflow-x: hidden;
}

.first-slide-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.first-slide-up {
    position: absolute;
    top: 0;
    width: 85vw;
}

.first-slide-down {
    margin-top: -155px;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.slide-down {
    position: absolute;
    top: 90vh;
    margin-left: -40px;
    left: 50vw;
    cursor: pointer;
    transition: .3s;
}

.mobile-menu {
    display: block !important;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba($color: #161929, $alpha: 0.9);
    nav {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 0 !important;
        margin-left: 0px !important;
        margin-right: 0 !important;
    }
    nav ul{
        background: #374072;
        width: 330px;
        height: auto;
        padding-bottom: 30px;
        border-radius: 0 0 0 60px;
        flex-direction: column;
        padding-top: 99px;
        padding-left: 40px;

        li {
            margin-bottom: 24px;
        }

        li a {
            font-family: 'Avenir Next Demi';
            font-weight: 600;
            font-size: 30px;
            line-height: 41px;
            color: #FFFFFF;
        }

        li:last-child {
            margin-bottom: 120px
        }
    }

    .header-number {
        display: none;
    }
}

.slide-down:hover {
    top: 91vh
}

.mobile-btn {
    font-family: 'Avenir Next Demi' !important;
    width: 250px !important;
    margin-left: 40px;
    height: 60px !important;
    display: -webkit-box;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 40px;
    position: absolute;
    margin-top: 440px;
}

.first-slide-section {
    padding-top: 350px;


    p {
        width: 580px;
        margin-bottom: 30px;
    }

    h1 {
        margin: 10px 0 20px;
    }
}

.btn--red {
    width: 280px;
    text-align: center;
    background: #E72F50;
    box-shadow: 0px 6px 30px rgba(255, 70, 92, 0.3), inset -10px -10px 50px #FF475D;
    border-radius: 80px;
    font-size: 16px;
    font-family: 'Avenir Next Regular';
}

.tour-elem:hover img {
    transform: scale(1.1);
}

.btn--red:hover {
    box-shadow: 0px 6px 40px rgba(255, 70, 92, 1), inset -10px -10px 50px #FF475D;
}

.red-up {
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #FF224A;
    margin-bottom: 10px;
}

.tour-wrapper {
    margin-top: 80px;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.tour-elem {
    position: relative;
    width: 32%;
    height: 520px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 25px;
    transition: .3s;

    img {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
        transition: .3s;
    }
}

.birka {
    width: 139px;
    height: 60px;
    border-radius: 20px 0;
    background: #E72F50;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        font-size: 16px;
        font-family: 'Avenir Next Regular';
        color: white;
    }

    p {
        font-size: 22px;
        font-family: 'Avenir Next Demi';
        margin: -4px 5px 0;
        color: white;
    }
}

.elem-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    z-index: 2;

    .time {
        display: -webkit-box;
        display: flex;
        align-items: center;
        margin-top: 20px;

        span {
            font-family: 'Avenir Next Medium';
            font-size: 18px;
            line-height: 130%;
            color: #FFFFFF;
        }
    }

    .time img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
}

.third-slide-out {
    margin-top: 150px;
    position: relative;
    overflow-x: hidden;
}

p.red-up {
    font-family: 'Avenir Next Demi';
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #FF224A;

}

.four-slide {
    margin-top: 160px;

    h2 {
        width: 706px;
    }
}

.reviews {
    margin-top: 200px;
}

.reviews-up {
    width: 630px;
    margin: 0 auto;
}

.reviews-in {
    margin-top: 120px;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
}

.review {
    display: none;
    width: 630px;
    height: 360px;
    background: #FFFFFF;
    box-shadow: 0px 20px 60px rgba(8, 28, 134, 0.1);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    padding: 60px;

    p {
        margin-top: 20px;
        font-family: 'Avenir Next Regular';
        font-size: 16px;
        line-height: 150%;
        color: #686A76;
    }
}

.reviewActive {
    display: block;
}

.review-l {
    width: 150px;
    height: 150px;
    background: #374072;
    border-radius: 50%;
    position: absolute;
    left: -75px;
    bottom: -75px;
}

.review-r {
    width: 190px;
    height: 190px;
    background: #E72F50;
    border-radius: 50%;
    position: absolute;
    top: -95px;
    right: -95px;
}

.review-up-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}

.review-up {
    display: -webkit-box;
    display: flex;
    align-items: center;
}

.review-up-r {
    margin-left: 30px;
    h4 {
        font-family: 'Avenir Next Demi' !important;
        font-size: 24px !important;
        line-height: 130%;
        color: #161929 !important;
        font-style: normal;
        font-weight: 600;
    }

    a {
        font-family: 'Avenir Next Regular';
        font-size: 16px;
        line-height: 150%;
        color: #686A76;
    }
}

.dot {
    position: absolute;
    
    img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: 0px solid #374072;
        cursor: pointer;
        transition: .3s;
    }

    img:hover {
        border: 6px solid #374072;
    }

    img.img-active {
        border: 8px solid #374072;
    }
}

.dotActive {
    img {
        border: 8px solid #374072;
    }
}

.l-dots {
    position: relative;
    width: 277px;
    height: 359px;

    .dot:nth-child(1) {
        width: 80px;
        height: 80px;
        top: 0;
        left: 0;
    }
    .dot:nth-child(2) {
        width: 116px;
        height: 116px;
        right: 0;
        top: 80px;
    }
    .dot:nth-child(3) {
        width: 93px;
        height: 93px;
        top: 170px;
        left: 0;
    }
    .dot:nth-child(4) {
        width: 78px;
        height: 78px;
        right: 90px;
        bottom: 0;
    }
}

.r-dots {
    position: relative;
    width: 277px;
    height: 359px;

    .dot:nth-child(1) {
        width: 122px;
        height: 122px;
        top: 0;
        left: 65px;
    }
    .dot:nth-child(2) {
        width: 116px;
        height: 116px;
        bottom: 60px;
        left: 0;
    }
    .dot:nth-child(3) {
        width: 60px;
        height: 60px;
        bottom: 156px;
        right: 0;
    }
    .dot:nth-child(4) {
        width: 82px;
        height: 82px;
        bottom: 0;
        right: 40px;
    }
}

.abut-r{
    margin-top: 26px;
    font-size: 16px;
    line-height: 150%;
    color: #374072;
    opacity: 0.8;
    margin-bottom: 30px;
}

.third-slide {
    padding-bottom: 300px;
}

.third-slide img {
    position: absolute;
    top: 0;
    margin-top: 200px;
}

.podr {
    font-family: 'Avenir Next Demi';
    font-size: 20px;
    line-height: 150%;
    color: #FF224A;
    cursor: pointer;
    position: relative;

    img {
        position: absolute;
        right: -10px;
        top: 12px;
    }
}

.podr::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 2px;
    width: 0%;
    background-color: #FF224A;
    border-radius: 4px;
    transition: .3s;
}

.podr:hover::before {
    width: 97%;
}

.wrapper-four {
    margin-top: 100px;
    display: -webkit-box;
    display: flex;
    justify-content: space-around;    
}

.about-quite {
    margin-top: 100px;
    position: relative;
    height: 880px;
    overflow-x: hidden;

    .quite {
        margin-top: 315px;
    }
}

.quite-about {
    position: absolute;
    height: 880px;
}

.four-elem {
    width: 380px;
    height: 395px;
    text-align: center;
    position: relative;

    h3 {
        margin-bottom: 20px;
    }

    p {
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: #374072;
        opacity: 0.8;
        text-transform: inherit;
    }
}

.four-elem-info {
    position: absolute;
    top: 210px;
}

.four-elem-img {
    width: 100%;
    display: -webkit-box;
    justify-content: center;
    display: flex;
    position: absolute;
    top: 0;
}

.four-elem-img img{
    width: 180px;
    height: 180px;
    margin: 0 auto;
}

.event {
    height: 680px;
    position: relative;
    width: 100%;

    img {
        border-radius: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-top: 0 !important;
        z-index: 1;
    }

    .dark-elem {
        border-radius: 20px;
    }

    .event-info {
        position: relative;
        z-index: 2;
        padding: 213px 0 0 110px;

        .btn {
            padding: 1.1em 1.8em;
            margin-right: 20px;
        }
    }

    .event-btns {
        display: -webkit-box;
        display: flex;
    }

    .btn-white {
        background-color: rgba($color: #000000, $alpha: 0);
        box-shadow: none;
        border: 2px solid white;
    }

    .event-info h2 {
        font-family: 'Avenir Next Bold';
        font-size: 60px;
        color: white;
    }

    .event-info p {
        font-size: 18px;
        line-height: 150%;
        color: #FFFFFF;
        width: 477px;
        margin: 20px 0 30px;
    }
}

.dark-elem {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .4;
    z-index: 2;
}

.to-all-tours {
    display: -webkit-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;

    img {
        width: 70px;
        height: 70px;
        cursor: pointer;
        transition: .3s;
    }

    img:hover {
        transform: scale(1.1);
    }

    h3 {
        font-family: 'Avenir Next Regular';
        font-size: 24px;
    }
}

.fixedNav {
    position: fixed;
    background-color: white;
    box-shadow: 5px 5px 15px rgba($color: #000000, $alpha: .1);

    .header-in {
        height: 70px;
    }
}


@media screen and (max-width: 1500px) {
    .first-slide-section {
        padding-top: 250px;
        padding-left: 30px;
    }

    .about-index-in {
        margin-top: 160px;
    }

    .header-number {
        margin-right: 30px;
    }

    nav {
        margin-right: 40px;
    }

    nav ul {
        width: 460px;
    }

    .header-in {
        width: 94vw;
    }

    .btn {
        padding: 1em 2.8em;
    }
}

@media screen and (max-width: 1300px) {
    section {
        width: 100vw;
        padding: 0 15px;
    }
}

@media screen and (max-width: 1250px) {
    p.about {
        margin-top: 0px !important;
        font-size: 20px !important;
    }

    .about-index-r {
        width: 600px;
        margin-bottom: 100px;
    }

    .about-index-l {
        position: relative;
        left: 0px !important;
    }

    .about-index-in {
        align-items: center;
    }

    .about-index-in {
        flex-direction: column-reverse;
        margin-top: 800px !important
    }
    nav ul {
        width: 420px;
    }

    .about-index {
        height: 1600px !important;
    }

    .third-slide .third-slide-image {
        height: 2400px;
    }

    .header-number a {
        font-size: 17px;
    }

    nav {
        margin-right: 25px;
    }

    .header-number {
        margin-right: 20px;
    }

    .header-right .btn {
        font-size: 15px;
    }

    .logo {
        margin-top: 6px;

        img {
            width: 130px;
        }
    }

    .first-slide-section {
        padding-top: 200px;
    }

    .tour-elem {
        height: 450px;
    }

    .first-slide-down {
        margin-top: -90px;
    }

    .first-slide-up {
        width: 95vw;
    }

    .wrapper-four {
        flex-direction: column;
        align-items: center;
    }

    .four-elem {
        margin-bottom: 80px;
    }
    
}

.burger {
    display: none
}

.dark-fon {
    display: none;
    position: fixed;
    z-index: 19;
    width: 100vw;
    height: 100vh;
    background: #161929;
    opacity: 0.9;
}

.popup-out {
    position: fixed;
    z-index: 20;
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.popup {
    width: 375px;
    height: 481px;
    background: #374072;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    border-radius: 40px;
    padding: 20px;
    position: relative;

    h3 {
        font-size: 34px;
        line-height: 150%;
        color: #FFFFFF;
        margin: 40px auto 32px;
        text-align: center;
    }
}

.quite {
    margin-top: 150px;
    margin-bottom: 150px;
}

.quite-elem {
    width: 834px;
    position: relative;
    margin: 0 auto;
    text-align: center;

    h4 {
        margin: 20px 0 12px;
        font-size: 40px;
        line-height: 100%;
        color: #374072;
    }

    .quite-down {
        font-size: 16px;
        line-height: 150%;
        color: #374072;
        opacity: 0.8;
    }
}

.quite-l,
.quite-r {
    position: absolute;
    width: 104px;   
    height: 80px;
}

.quite-l {
    left: -50px;
    top: -25px;
}

.quite-r {
    bottom: 50px;
    right: -40px;
}

h2.about {
    width: 960px;
    font-size: 34px;
    line-height: 140%;
    color: #374072;
}

p.about {
    margin-top: 80px;
    width: 960px;
    font-family: 'Avenir Next Regular';
    font-size: 26px;
    line-height: 150%;
    color: #374072;
    opacity: 0.8;
}
.about-slide {
    position: relative;
    overflow-x: hidden;
    height: 880px;
}

.about-slide-in {
    position: absolute;
    right: -150px;
    top: 0;
    width: 1662px;
    height: 880px;

    p {
        position: absolute;
        font-family: 'Avenir Next Demi';
        border-radius: 50%;
        z-index: 2;
    }
    p:nth-child(1) {
        font-size: 16px;
        line-height: 140%;
        text-align: center;
        color: #FFFFFF;
        background: #374072;
        width: 150px;
        height: 150px;
        padding-top: 50px;
        padding-left: 4px;
        bottom: 160px;
        left: 0;
    }
    p:nth-child(2) {
        font-size: 16px;
        line-height: 140%;
        text-align: center;
        color: #FFFFFF;
        top: 300px;
        left: 560px;
        background: #374072;
        width: 120px;
        height: 120px;
        padding-top: 32px;
        padding-left: 2px;
    }
    p:nth-child(3) {
        font-size: 20px;
        line-height: 140%;
        text-align: center;
        color: #FFFFFF;
        text-align: center;
        width: 180px;
        height: 180px;
        background: #E72F50;
        box-shadow: 0px 0px 40px rgba(231, 47, 80, 0.6);
        padding-top: 48px;
        padding-left: 3px;
        top: 300px;
        left: 130px;

        span {
            font-family: 'Avenir Next Bold';
            font-size: 45px;
            line-height: 100%;
            text-align: center;
            color: #FFFFFF;
        }
        
    }
}

.about-slide-img {
    img {
        position: absolute;
        border-radius: 20px;
        border-radius: 20px;
        object-fit: cover;
        z-index: 1;
        cursor: pointer;
    }

    img:nth-child(1) {
        width: 605.94px;
        height: 416.84px;
        bottom: 97px;
        right: 1050px;
    }
    img:nth-child(2) {
        width: 253.92px;
        height: 196.84px;
        top: 142px;
        right: 1049px;
    }
    img:nth-child(3) {
        width: 415.5px;
        height: 463.16px;
        bottom: 30px;
        right: 615px;
    }
    img:nth-child(4) {
        width: 415.5px;
        height: 289.47px;
        top: 70px;
        right: 615px;
    }
    img:nth-child(5) {
        width: 594.4px;
        height: 451.58px;
        bottom: 0;
        right: 0;
    }
    img:nth-child(6) {
        width: 594.4px;
        height: 405.26px;
        top: 0;
        right: 0;
    }
}

.quite-text {
    font-family: 'Avenir Next Demi';
    font-size: 28px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #374072;

    span {
        font-family: 'Avenir Next Demi';
        font-size: 28px;
        line-height: 150%;
        text-align: center;
        letter-spacing: -0.01em;
        color: #374072;
        position: relative;
    }

    span::before {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 4px;
        content: '';
        background: #FF5B79;
        width: 100%;
    }
}

.about-index {
    position: relative;
    overflow-x: hidden;
    height: 1200px;
}

.about-index-img {
    height: 100%;
    position: absolute;
    top: 0;
}

.under-footer {
    position: relative;
    overflow-x: hidden;
    height: 1136px;
    margin-bottom: -100px;

    section {
        width: 670px;
        padding-top: 360px;
        text-align: center;
    }

    h2 {
        font-size: 40px;
        line-height: 130%;
        color: #FFFFFF;
    }

    p.know {
        font-size: 20px;
        line-height: 140%;
        color: #FFFFFF;

    }

    .fo-foo-form {
        font-family: 'Avenir Next Bold';
        font-size: 22px;
        line-height: 140%;
        text-align: center;
        color: #FFFFFF;
        width: 411px;
        margin: 60px auto 40px;
    }

    .form-f-up {
        display: -webkit-box;
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;

        input[type="text"] {
            width: 320px;
        }
    }

    button {
        margin: 0 auto;
        cursor: pointer;
    }

    .policy {
        font-size: 12px;
        line-height: 140%;
        text-align: center;
        color: #FFFFFF;
        opacity: 0.4;
        width: 280px;
        margin: 15px auto 58px;

        a {
            font-size: 12px;
            line-height: 140%;
        }
    }

    .social-text {
        width: 399px;
        font-family: 'Avenir Next Medium';
        font-size: 22px;
        line-height: 140%;
        text-align: center;
        color: #FFFFFF;
        text-align: center;
        margin: 0 auto;
    }
}

.social {
    width: 300px;
    height: 60px;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
    margin: 20px auto 0;

    a img {
        transition: .3s;
    }

    a:hover img {
        transform: scale(1.1);
    }
}

.under-footer-fon {
    width: 1920px;
    position: absolute;
    mask: url(./../img/under-footer.svg);
}

.dark-footer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #374072;
    opacity: .95;
}

.un-footer {
    width: 100%;
}

.close-popup {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    margin-left: -20px;
    margin-top: 24px;

    p {
        font-size: 16px;
        line-height: 150%;
        color: #FFFFFF;
        cursor: pointer;
    }
}

input[type="text"],
textarea {
    width: 335px;
    height: 60px;
    background: #475394;
    border-radius: 60px;
    border: none;
    padding-left: 30px;
    color: white;
    font-size: 16px;
    line-height: 150%;
    font-family: 'Avenir Next Demi';
    resize: none;
}

textarea {
    padding-top: 19px;
    width: 100%;
    margin-bottom: 20px;
}

#popupForm {
    display: -webkit-box;
    display: flex;
    flex-direction: column;

    .popupS {
        margin: 20px 0
    }

    button {
        width: auto;
        height: 60px;
        cursor: pointer;
    }
}

.policy {
    margin-top: 16px;
    font-family: 'Avenir Next Medium';
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.3;

    a {
        text-decoration: underline;
        font-family: 'Avenir Next Medium';
        font-size: 14px;
        color: #FFFFFF;
    }
}

summary::-webkit-details-marker {display: none;}

details {
    margin: 50px 0;
}

details[open] summary img {
    transform: rotate(45deg);
}

summary {
    font-family: 'Avenir Next Demi';
    display: -webkit-box;
    display: flex;
    align-items: center;
    font-size: 32px;
    line-height: 160%;
    color: #374072;
    cursor: pointer;

    img {
        margin-right: 30px;
        transform: .3s;
        width: 50px;
        height: 50px;
    }
}

summary::marker {
    display: none;
}

.review-dots {
    display: none;
}
.blog-index {
    margin-top: 300px;
    
    h2 {
        width: 620px;
    }
}

.blog-wrapper {
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 60px;
}

.blog-elem {
    position: relative;
    width: 47%;
    height: 499px;
    margin-bottom: 60px;
    display: block;
    cursor: pointer;
    transition: .3s;

    .blog-img {
        width: 100%;
        height: 400px;
        overflow: hidden;
        border-radius: 10px;
    }

    .blog-info {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;

        h4 {
            font-size: 28px;
            line-height: 140%;
            color: #374072;
        }

        .date {
            margin-bottom: 16px;
            font-family: 'Avenir Next Medium';
            font-size: 14px;
            line-height: 100%;
            color: #374072;
            opacity: 0.6;
        }
    }

    img {
        width: 100%;
        height: 400px;
        border-radius: 10px;
        object-fit: cover;
        transition: .3s;
    }
}

footer {
    position: relative;
    overflow-x: hidden;
    margin-top: -100px;

    img {
        height: 400px;
        position: absolute;
        bottom: 0;
    }

    section {
        min-height: 400px;
    }
}

.command-wrapper {
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
    margin: 60px 0;
}

.command-elem {
    position: relative;
    width: 410px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
}

.command-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 0 30px 30px;

    h4 {
        font-family: 'Avenir Next Demi';
        font-size: 30px;
        line-height: 130%;
        color: #FFFFFF;
    }

    p {
        font-family: 'Avenir Next Regular';
        font-size: 20px;
        line-height: 150%;
        color: #FFFFFF;
    }
}

.dark-command {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(22, 25, 41, 0) 0%, #161929 100%);
}

.footer-in-up {
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
}

.foo-contacts {
    text-align: end;

    a:nth-child(1) {
        font-size: 18px;
        line-height: 100%;
        color: #FFFFFF;
        font-family: 'Avenir Next Demi';
    }
    .cont-m {
        font-size: 16px;
        line-height: 130%;
        font-family: 'Avenir Next Demi';
        color: #FFFFFF !important;
    }
    p {
        font-size: 12px;
        line-height: 100%;
        font-family: 'Avenir Next Medium';
        color: #FFFFFF;
        opacity: 0.6;
        margin: 16px 0 2px
    }
}

.footer-in-down {
    position: relative;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.footer-in-down-l {
    position: relative;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        font-family: 'Avenir Next Medium';
        font-size: 16px;
        line-height: 130%;
        color: #FFFFFF;
        opacity: 0.6;
    }

    a {
        font-family: 'Avenir Next Medium';
        font-size: 16px;
        line-height: 130%;
        text-decoration-line: underline;
        color: #FFFFFF;
        opacity: 0.6;
        margin-left: 50px;
    }
}

.where {
    font-size: 16px;
    line-height: 130%;
    font-family: 'Avenir Next Medium';
    color: #FFFFFF;
    opacity: 0.6;

    a {
        color: #FFFFFF;
        text-decoration-line: underline;
    }
}

.footer-in {
    position: absolute;
    bottom: 100px;
    height: 150px;
    width: 98%;

    nav a {
        color: white
    }
}

.btn-blog {
    width: 250px;
    font-size: 16px;
    line-height: 150%;
    color: #E72F50 !important;
    border: 2px solid #E72F50;
    background: transparent;
    margin: 0 auto;
    text-align: center;
}

.btn-blog:hover {
    color: white !important;
}

.blog-elem:nth-child(2n) {
    margin-top: -60px;
}

.blog-elem:hover img {
    transform: scale(1.1);
}

@media screen and (max-width: 1500px) {
    .about-slide-in p:nth-child(1) {
        left: 130px;
    }
    .command-elem {
        width: 360px;
        height: 450px;
    }
}

@media screen and (max-width: 1400px) {
    .about-slide {
        height: 500.8px;
    }
    .about-slide-img {

        img {
            border-radius: 5px;
        }
    
        img:nth-child(1) {
            width: 164.43px;
            height: 113.11px;
            top: 102px;
            right: 286px;
        }
        img:nth-child(2) {
            width: 68.9px;
            height: 53.42px;
            top: 40px;
            right: 286px;
        }
        img:nth-child(3) {
            width: 112.75px;
            height: 125.68px;
            top: 109px;
            right: 167px;
        }
        img:nth-child(4) {
            width: 112.75px;
            height: 78.55px;
            top: 23px;
            right: 167px;
        }
        img:nth-child(5) {
            width: 161.3px;
            height: 122.54px;
            top: 117px;
            right: 0;
        }
        img:nth-child(6) {
            width: 161.3px;
            height: 109.97px;
            top: 0;
            right: 0;
        }
    }

    .about-slide-in {
        right: 10%;
        width: 451px;
        height: 500.8px;
    
        p:nth-child(1) {
            font-size: 16px;
            width: 118px;
            height: 118px;
            padding-top: 35px;
            padding-left: 2px;
            bottom: 175px;
            left: 0;
        }
        p:nth-child(2) {
            font-size: 16px;
            top: 290px;
            left: 315px;
            width: 102px;
            height: 102px;
            padding-top: 22px;
            padding-left: 2px;
        }
        p:nth-child(3) {
            font-size: 14px;
            width: 102px;
            height: 102px;
            padding-top: 28px;
            padding-left: 3px;
            top: 30px;
            left: 130px;
    
            span {
                font-size: 20px;
            }
            
        }
    }
}

@media screen and (max-width: 1150px) {
    .command-elem {
        width: 310px;
        height: 400px;
    }
}

@media screen and (max-width: 1100px) {
    .blog-elem {
        width: 49%;
    }
    .blog-elem .blog-img {
        height: 350px;
    }

    .reviews {
        margin-top: -100px;
    }
    .review-dots {
        width: 230px;
        display: -webkit-box;
        display: flex;
        justify-content: space-between;
        margin: 40px auto 0;

        li button {
            outline: none;
            border: none;
            content: '';
            width: 20px;
            height: 20px;
            background: #374072;
            opacity: 0.6;
            border-radius: 50px;
            cursor: pointer;
            font-size: 0;
        }

        li button:hover {
            background: #374072;
            opacity: 1;
        }

        li.slick-active button {
            background: #374072;
            opacity: 1;
        }
    }
    .reviews-in {
        margin-top: 20px;
    }
    .reviews-wrapper {
        width: 90%;
    }

    .review-up-r a {
        display: flex;
    }

    .slick-slide a img {
        margin-right: 10px;
    }

    .review {
        margin: 60px;
    }

    .l-dots, .r-dots {
        display: none;
    }
    .reviews-in {
        justify-content: center;
    }
    .header-right {
        display: none;
    }

    .header-in {
        height: 76px;
    }

    .fixedNav .header-in {
        height: 50px;
    }

    .burger {
        display: block;
        position: relative;
        width: 40px;
        height: 24px;
        cursor: pointer;
        transition: .3s;
        z-index: 10;

        span {
            position: absolute;
            width: 40px;
            height: 4px;
            background: #374072;
            border-radius: 10px;
            transition: .3s;
            z-index: 10;
        }

        span:nth-child(1) {
            top: 0
        }

        span:nth-child(2) {
            top: 10px
        }

        span:nth-child(3) {
            bottom: 0
        }
    }

    .burger:hover {
        span:nth-child(1) {
            top: 2px
        }

        span:nth-child(2) {
            top: 10px
        }

        span:nth-child(3) {
            bottom: 2px
        }
    }

    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 30px;
    }

    p {
        font-size: 20px;
    }

    h4 {
        font-size: 25px;
    }

    .tour-elem {
        width: 49%;
        height: 370px;
    }
}

.slide-up {
    margin-top: 300px !important;
}

@media screen and (max-width: 1000px) {
    .command-elem {
        width: 260px;
        height: 350px;
    }

    h2.about {
        width: 100%;
        font-size: 24px;
        margin-bottom: 40px;
    }

    p.about {
        width: 100%;
    }
    .slide-up {
        margin-top: 200px !important;
    }
    footer {
        margin-top: -131px;
    }
    .footer-in-up {
        flex-direction: column;
        align-items: center;

        nav {
            margin-right: 0px;
        }

        nav ul {
            flex-direction: column;
            align-items: center;
            text-align: center;

            li {
                margin-bottom: 30px;
            }
        }
    }
    footer img {
        height: 718px;
        left: -250px;
    }
    footer section {
        min-height: 760px;
    }
    .footer-in {
        top: 200px;
        bottom: auto;
    }
    .footer-in-down {
        margin-top: 40px;
        flex-direction: column-reverse;
        align-items: center;
    }
    .footer-in-down-l {
        align-items: center;
        flex-direction: column-reverse;

        a {
            margin: 40px 0 20px;
        }
    }
    .footer-in-down-l a {
        margin-left: 0px;
    }
    .foo-contacts {
        text-align: center;
    }
    .quite-r {
        bottom: 86px;
        right: 10px;
    }
    .quite-l {
        left: 10px;
        top: -25px;
    }
    .quite-elem {
        width: 100%;
    }
    .quite {
        margin-top: 40px;
        margin-bottom: 100px;
    }
    .first-slide-up {
        top: 75px;
        width: 100vw;
    }
    header {
        background-color: #E5E5E5;
    }
    .event .event-info {
        padding: 113px 0 0 60px;
    }

    .event .event-info h2 {
        font-size: 50px;
    }
    .event {
        height: 480px;
    }
    .third-slide .third-slide-image {
        height: 2110px;
    }
    .third-slide {
        padding-bottom: 100px;
    }
}

.about-index-l {
    p {
        position: absolute;
        font-family: 'Avenir Next Demi';
        font-size: 16px;
        line-height: 140%;
        text-align: center;
        color: #FFFFFF;
        z-index: 2;
    }
    p:nth-child(1) {
        left: 30px;
        top: 270px;
        width: 150px;
        height: 150px;
        background: #374072;
        box-shadow: 0px 4px 10px rgba(8, 28, 134, 0.15);
        border-radius: 50%;
        padding-top: 50px;
        padding-left: 5px;
    }
    p:nth-child(2) {
        bottom: 40px;
        right: 40px;
        width: 120px;
        height: 120px;
        background: #374072;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
        border-radius: 50%;
        padding-top: 35px;
        padding-left: 4px;
    }
    p:nth-child(3) {
        width: 180px;
        height: 180px;
        font-family: 'Avenir Next Bold';
        font-size: 45px;
        line-height: 100%;
        text-align: center;
        color: #FFFFFF;
        background: #E72F50;
        box-shadow: 0px 0px 40px rgba(231, 47, 80, 0.6);
        border-radius: 50%;
        padding-top: 50px;
        padding-left: 6px;
        top: 245px;
        left: 260px;

        span {
            font-family: 'Avenir Next Demi';
            font-size: 20px;
            line-height: 140%;
            text-align: center;
            color: #FFFFFF;
            display: block;
        }
    }
}

.cont_p {
    margin-top: 20px;
    font-family: 'Avenir Next Medium';
    font-size: 20px;
    line-height: 150%;
    color: #374072;
    opacity: 0.8;
    width: 550px;
    }

.breads {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    margin-bottom: 90px;

    a {
        font-family: 'Avenir Next Medium';
        font-size: 16px;
        line-height: 140%;
        color: #374072;
        opacity: 0.8;
    }

    p {
        font-family: 'Avenir Next Demi';
        font-size: 16px;
        line-height: 140%;
        color: #374072;
        opacity: 0.8;
    }

    img {
        margin: 0 10px;
    }
}

.faq-section {
    width: 850px;
    margin: 0 auto;

    p {
        font-family: 'Avenir Next Regular';
        font-size: 22px;
        line-height: 160%;
        color: #374072;
        opacity: 0.8;
        margin: 40px 0 100px;
        padding-left: 80px;
    }
}

@media screen and (max-width: 900px) {
    .command-info p {
        font-size: 16px;
    }
    .command-info h4 {
        font-size: 22px;
    }
    .command-info {
        padding: 0 20px 20px;
    }
    .command-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .command-elem {
        margin: 20px 0;
    }
    .about-quite .quite {
        margin-top: 256px;
    }
    .faq-section {
        width: 100%;
    }
    summary {
        font-size: 28px;
    }
    .first-slide-section {
        padding-top: 150px;
    }

    .quite {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .about-quite {
        margin-top: 0px;
    }
}

@media screen and (max-width: 750px) {
    .slide-up {
        margin-top: 100px !important;
    }
    summary {
        font-size: 24px;
    }
    .under-footer .form-f-up {
        flex-direction: column;
        margin-bottom: 10px;

        input[type="text"]:nth-child(1) {
            width: 300px;
            margin-bottom: 10px;
        }
    }
    #formFooter,
    #formContact {
        button {
            width: 280px;
            height: 60px !important;
        }
    }
    textarea {
        margin-bottom: 20px;
        width: 300px;
        margin-bottom: 10px;
        margin-top: -10px;
    }
    .blog-elem {
        width: 100%;
    }
    .blog-elem:nth-child(2n) {
        margin-top: 0px;
    }
    .blog-index h2 {
        width: 100%;
    }
    .reviews-wrapper {
        width: 100%;
    }

    .review {
        box-shadow: none;
        margin: 0
    }

    .reviews-up {
        width: 100%;
    }

    .third-slide .third-slide-image {
        height: 2010px;
    }
    .third-slide {
        padding-bottom: 30px;
    }
    .four-slide h2 {
        width: 100%;
    }

    .first-slide-down {
        margin-top: -53px;
    }
    h1 {
        font-size: 46px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    .first-slide-section p {
        width: 70%;
    }

    h4 {
        font-size: 20px;
    }

    .elem-info .time span {
        font-size: 16px;
    }

    .birka {
        width: 113px;
        height: 50px;
    }

    .birka p {
        font-size: 18px;
        margin: -1px 5px 0;
    }

    .birka span {
        font-size: 14px;
    }

    .event {
        height: auto;
    }
    .event .event-info {
        padding: 70px 20px;
    }

    .event .event-btns {
        display: -webkit-box;
        display: block;

        .btn:first-child {
            margin-bottom: 20px;
        }
    }
    .quite-text {
        font-size: 20px;

        span {
            font-size: 20px;
        }
    }

    .under-footer section {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .quite-about {
        height: 580px;
    }
    .about-quite .quite {
        margin-top: 186px;
    }
    h2.about {
        font-size: 20px;
    }
    .about-slide-in {
        right: -50px;
    }
    .about-slide-in p:nth-child(2) {
        left: 275px;
    }
    .about-slide-in p:nth-child(1) {
        left: 68px;
    }
    .cont_p {
        width: 100%;
    }
    .under-footer {
        margin-top: -150px;
    }
    .review {
        padding: 37px 14px;
    }
    .review-r {
        top: -120px;
        right: -120px;
    }
    .review-l {
        left: -90px;
        bottom: -90px;
    }
    .review-up-r h4 {
        font-size: 16px !important;
    }
    .review-up-r a {
        font-size: 14px;
    }
    .review p {
        font-size: 14px;
    }
    .about-index-img {
        height: 88%;
    }
    .quite {
        margin-bottom: -50px !important;
    }

    .about-index-in {
        margin-top: 600px !important;
    }

    .about-index-r {
        width: 100%;
    }

    .about-index-l {
        p:nth-child(1) {
            left: 30px;
            top: 200px;
            width: 118px;
            height: 118px;
            padding-top: 37px;
        }
        p:nth-child(2) {
            bottom: -57px;
            right: 47px;
            width: 102px;
            height: 102px;
            padding-top: 26px;
            padding-left: 2px;
        }
        p:nth-child(3) {
            width: 102px;
            height: 102px;
            font-size: 20px;
            padding-top: 25px;
            padding-left: 2px;
            top: 128px;
            left: 160px;
        }
    }
    .index-l-gallery {
        position: relative;
        width: 403.36px !important;
        height: 326px !important;
    
        img:nth-child(1) {
            width: 154.71px !important;
            height: 138.14px !important;
            top: 38px !important;
            left: -2px !important;
        }
        img:nth-child(2) {
            width: 243.12px !important;
            height: 176.81px !important;
            top: 0;
            right: 0;
        }
        img:nth-child(3) {
            width: 198.92px !important;
            height: 143.66px !important;
            bottom: 0 !important;
            left: 50px !important;
        }
        img:nth-child(4) {
            width: 165.76px !important;
            height: 161.51px !important;
            bottom: -17px !important;
            right: -18px !important;
        }
    }
}

@media screen and (max-width: 550px) {
    details {
        margin: 30px 0;
    }
    .faq-section {
    
        p {
            padding-left: 60px;
            font-size: 14px;
        }
    }
    summary img {
        margin-right: 10px;
    }
    summary {
        font-size: 24px;
    }
    .under-footer h2 {
        font-size: 22px;
    }
    .under-footer p.know {
        font-size: 14px;
    }

    .under-footer .fo-foo-form {
        font-size: 14px;
        width: 300px;
    }
    .under-footer .social-text {
        font-size: 16px;
        width: 100%;
    }
    .tour-elem {
        width: 100%;
        height: 350px;
    }
    .event .event-info h2 {
        font-size: 24px;
    }
    .event .event-info p {
        font-size: 14px;
        width: 100%;
    }
    .third-slide {
        padding-bottom: 80px;
    }

}

.about-index section {
    display: -webkit-box;
    display: flex;
    align-items: center;
}

.about-index-in {
    height: 590px;
    width: 100%;
    margin-top: 300px;
    display: -webkit-box;
    display: flex;
}

.about-index-l {
    position: relative;
    left: -75px;
}

.index-l-gallery {
    position: relative;
    width: 730px;
    height: 590px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        position: absolute;
    }

    img:nth-child(1) {
        width: 280px;
        height: 250px;
        top: 70px;
        left: 0;
    }
    img:nth-child(2) {
        width: 440px;
        height: 320px;
        top: 0;
        right: 0;
    }
    img:nth-child(3) {
        width: 360px;
        height: 260px;
        bottom: 0;
        left: 80px;
    }
    img:nth-child(4) {
        width: 200px;
        height: 200px;
        bottom: 60px;
        right: 80px;
    }
}

@media screen and (max-width: 500px) {
    summary {
        font-size: 22px;
    }
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 16px;
    }

    p {
        font-size: 14px;
    }

    .first-slide-section p {
        width: 90%;
    }

    .quite-text {
        font-size: 14px;

        span {
            font-size: 14px;
        }

        span::before {
            height: 2px;
        }
    }

    .quite-elem h4 {
        font-size: 16px;
    }
    .quite-elem .quite-down {
        font-size: 10px;
    }
    .quite {
        margin-top: 0px;
        margin-bottom: 50px;
    }
    .quite-r {
        bottom: 20px;
        right: 10px;
    }
    .quite-l {
        left: 10px;
        top: -50px;
    }

    .first-slide-up {
        top: 75px;
        width: 145vw;
    }
    .first-slide-section {
        padding-left: 15px;
    }
    .first-slide-down {
        margin-top: -34px;
    }
}

.burger-active {
    position: fixed;
    right: 25px;

    span {
        background-color: white;
    }
    span:nth-child(2) {
        opacity: 0;
    }

    span:nth-child(1) {
        top: 10px;
        transform: rotate(-405deg);
    }

    span:nth-child(3) {
        bottom: 10px;
        transform: rotate(405deg);
    }
}

.burger-active:hover {
    span:nth-child(1) {
        top: 8px;
    }

    span:nth-child(3) {
        bottom: 12px;
    }
}

.dark-active {
    display: block !important;
}

@media screen and (max-width: 400px) {
    summary {
        font-size: 18px;
    }
    .four-elem {
        width: 100%;
    }

    .mobile-menu nav {
        width: 100%;
    }
    .mobile-menu nav ul {
        width: 100%;
    }
    .popup h3 {
        font-size: 30px;
    }
    input[type="text"] {
        width: 100%;
    }
    .first-slide-up {
        width: 150vw;
    }

    .btn--red {
        width: 100%;
    }
    .tour-elem {
        width: 100%;
        height: 350px;
    }

    .popup {
        height: 481px;
        background: #374072;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
        padding: 20px;
        position: absolute;
        bottom: 0;
        width: 100%;
        border-radius:40px 40px 0 0;
    }
}

@media screen and (max-height: 800px) {
    .slide-down {
        top: 80vh;
    }
    .slide-down:hover {
        top: 81vh;
    }
}